.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  display: flex;
  padding-left: 3rem;
  align-items: center;
  align-content: space-between;
  justify-content: flex-start;
  color: red;
  border-bottom: 3px solid red;
}
.App-header img {
  height: 10rem;
  margin-right: 1rem;
}
.App-body {
  font-size: 1rem;
  padding: 7rem;
  border-bottom: 3-px solid red;
}
.App-footer {
  padding: 1rem;
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bolder;
}